<% provide(:title, @user.nome) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Eu Recomendo</title>
  </head>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to image_tag("R.png", alt: "Rails logo")%>
        <br><br>
        <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Dados do Usuário</div>
          <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Nome <%= @user.nome + " " + @user.sobrenome%></li>
    <li class="list-group-item">Email: <%= @user.email %></li>
    <li class="list-group-item">Nickname: <%= @user.nickname %></li>
    <li class="list-group-item">Telefone: <%= @user.telefone %></li>
    <li class="list-group-item">Tipo:<%= @user.tipo %></li>
  </ul>
</div>
        
      </h1>
    </section>
  </aside>
</div>
</html>


