<link href="style.css" rel="stylesheet">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="logo_menu">
      <%= link_to image_tag("logo_head.png", alt: "Rails logo"),'/'%>
    </div>
     <div id="container">
     <nav  id="menu2">
       <ul class="nav navbar-nav navbar-right">
        
       </ul>
      </nav> 
      </div>
      <% if logged_in? %>
        <div id = "search">
          <div id="first">
            <%= form_tag(posts_path, :method => :get) do %>
            <%= text_field_tag 'Search', nil, placeholder: 'Search'%>
          </div>
          <div id="second">
            <%= submit_tag "Buscar Anúncio", class: "btn-group btn-group-xs btn-primary"%>
          </div>
          <% end %>
        </div>
      <nav>
      <ul class="nav navbar-nav navbar-right">
          <li class="menu_li"><%= link_to "Home", '/'=%></li>
          <li><%= link_to "Anúncios",   posts_path %></li>
          <li><%= link_to "Anuncie", new_post_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Conta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>
        </nav>
        <% else %>
        <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Inscreva-se", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
           <li><%= link_to "Contato", contato_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br><br>