<% provide(:title, "Anuncie Aqui!") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Eu Recomendo</title>
  </head>
<p id="notice"><%= notice %></p>

<h1>Lista de Comentários</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Conteúdo</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.conteudo %></td>
        <td><%= comentario.post %></td>
        <td><%= link_to 'Mostrar', post.comentario, class: "btn btn-primary"o %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario), class: "btn btn-primary" %></td>
        <td><%= link_to 'Apagar', comentario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Anúncio', new_comentario_path, class: "btn btn-primary" %>
</html>

<div class="panel panel-primary">
      <div class="panel-heading"><%= post.titulo %></div>
      <div class="panel-body">
       <%= post.conteudo %>
       </div>

       <table align="center">
         <tr>
          <td><div><%= link_to 'Mostrar', post, class: "btn btn-primary" %></div></td>
          <td><div><%= link_to 'Editar', edit_post_path(post), class: "btn btn-primary"%></div></td>
          <td><div><%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-primary"%></div></td>
        </tr>
       </table>
       <br>
      </div>